{% extends 'base.html' %}
{% block content %}
    {% include 'management/navbar.html' %}
    <div class="col-md-10 content">
        <h1>Aðgangar</h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Notandi</th>
              <th scope="col">Nafn</th>
              <th scope="col">Netfang</th>
              <th scope="col">Virkur</th>
              <th scope="col">Síðasta Innskráning</th>
              <th scope="col"><i class="fas fa-lock"></i></th>
              <th scope="col"><i class="fas fa-trash"></i></th>
            </tr>
          </thead>
          <tbody>
            {% for c in customers %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ c.username }}</td>
              <td><a href="{{ c.username }}/">{{ c.first_name }} {{ c.last_name }}</a></td>
              <td>{{ c.email }}</td>
              <td>{{ c.is_active }}</td>
              <td>{{ c.last_login }}</td>
              <td><a href="{{ c.username }}/lock/?next=/management/customers/"><i class="fas {% if c.is_active %}fa-lock-open{% else %}fa-lock{% endif %}"></i></a></td>
              <td><a href="{{ c.username }}/delete/?next=/management/customers/"><i class="fas fa-trash"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}