{% extends 'base.html' %}
{% block content %}
    <div class="col-md-6" id="info">
        <h2>Um Okkur</h2>
            <p>Captain Console er tölvuverslun sem sérhæfir sig í gömlum leikjatölvum,leikjum og Aukahlutum. Allt frá ZX Spectrum til Gameboy. Hægt er að panta vörur og fá sent heim að dyrum hvaðan sem er í heiminum. Captain Console er fyrir þá sem hafa brennandi áhuga á öllu því sem tengist gömlum leikjatölvum hvort sem það er að spila þær eða einfaldlaga að bæta þeim við í retro leikjatölvu safnið sitt.  </p>
{#        <p>Captain console is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking. We strive to have a positive impact on customers, employees, small businesses, the economy, and communities. Amazonians are smart, passionate builders with different backgrounds and goals, who share a common desire to always be learning and inventing on behalf of our customers.</p>#}
{#        <span class="location-header">Staðsetning</span>#}
{#        <span class="location-text">Captain console er staðsett á Gamergötu 14 í Kópavogi!</span>#}
    </div>
    <div class="col-md-6" id="location">
        <p class="location-header">Staðsetning</p>
        <p class="location-text">Captain console er staðsett á FKN OLÍS!</p>
        {% include 'about/google_map.html' %}
    </div>
{% endblock %}