{% extends 'base.html' %}
{% block content %}
    <h2 class="head-items">Vörur:</h2>
    <div class="all-items">
{#    <h2 class="head-items">Vörur:</h2>#}
    {% if items %}
        {% for item in items %}
            {% include 'items/single_item_all.html' with item=item %}
        {% endfor %}
    {% else %}
        Engar vörur í gagnagrunni!
    {% endif %}
    </div>
    <div class="sidebar-items">
        <p> Flokkun:</p>
{#        <form action="{% url 'filter' %}" method="post" id="filter">#}
        <form id="filter">
            <div class="select">
                <select class="side-drop" name="filter-cat" id="filter-cat">
                    <option selected disabled>Veldu Flokk</option>
                    <option value="Tölvur">Tölvur</option>
                    <option value="Leikir">Leikir</option>
                    <option value="Aukahlutir">Aukahlutir</option>
                </select>
            </div>
            <br>
            <div class="select">
                <select class="side-drop" name="filter-manuf" id="filter-manuf">
                    <option selected disabled>Veldu framleiðanda</option>
                    {% for name in manuf %}
                        <option value="{{ name.name }}">{{ name.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="select">
                <select class="side-drop" name="filter-sort" id="filter-sort">
                    <option selected disabled>Raða eftir</option>
                    <option value="name">A-Z</option>
                    <option value="-name">Z-A</option>
                    <option value="-price">Hæsta verð</option>
                    <option value="price">Lægsta verð</option>
                </select>
            </div>
            <br>
            <input type="submit" class="Sbutton" value="Leita">
        </form>
    </div>
{% endblock %}