{% extends 'base.html' %}
{% block content %}
    <h2 cla>Frontpage</h2>
    <div class="frontcontent">
        <div class="frontFL">
            <a href="/items/filter/1">
                <img src="../../static/images/oldcons.jpg">
                <p>Tölvur</p>
            </a>
        </div>
        <div class="frontFL">
            <a href="/items/filter/2">
                <img src="../../static/images/oldgames.jpg">
                <p>Leikir</p>
            </a>
        </div>
        <div class="frontFL">
            <a href="/items/filter/3">
                <img src="../../static/images/aukahl.jpg">
                <p>Aukahlutir</p>
            </a>
        </div>
    </div>
{% endblock %}