{% extends 'base.html' %}
{% block content %}
    <div class="front-page-banner">
        <img src="../../static/images/panta-tilbod.jpg" alt="Offer">
    </div>
    <div class="frontcontent">
        <div class="frontFL">
            <a href="/items/all/?filter-cat=Tölvur">
                <img src="../../static/images/oldcons.jpg">
                <p>Tölvur</p>
            </a>
        </div>
        <div class="frontFL">
            <a href="/items/all/?filter-cat=Leikir">
                <img src="../../static/images/oldgames.jpg">
                <p>Leikir</p>
            </a>
        </div>
        <div class="frontFL">
            <a href="/items/all/?filter-cat=Aukahlutir">
                <img src="../../static/images/aukahl.jpg">
                <p>Aukahlutir</p>
            </a>
        </div>
    </div>
{% endblock %}