{% extends 'base.html' %}
    {% block content %}
        <div>
            <img class="item-img" src="{{ item.itemimg_set.first.img }}"  alt="{{ item.item.name }}"/>
            <h4>{{ item.name }}</h4>
            <p>{{ item.description }}</p>
            <p>Verð: {{ item.price }},-</p>
            <p>Framleiðandi: {{ item.manufacturer.name }}</p>
            <p>Flokkur: {{ item.category.name }}</p>
            <a href="{% url 'add_to_cart' item.id %}">
                <button>Bæta í körfu</button>
            </a>
        </div>
    {% endblock %}