<!--
    TODO: add url slug
    TODO: add edit button when admins are browsing.
    TODO: parent categories
    TODO: setja upp category síðu.
-->
{% extends 'base.html' %}
    {% block content %}
        <div class="col-md-12 singleitem">
            <div class="col-md-4 single-img-name">
                <img class="item-img" src="{{ item.itemimg_set.first.img }}"  alt="{{ item.item.name }}"/>
                <h2 class="singlename">{{ item.name }}</h2>
            </div>
            <div class="col-md-4 singledescription">
                <p>{{ item.description }}</p>
            </div>
            <div class="col-4-md">
            <div class="singleinfo">
                <p id="price">Verð: {{ item.price }},-</p>
                <p>Framleiðandi: {{ item.manufacturer.name }}</p>
                <p>Flokkur: {{ item.category.name }}</p>
            </div>


            {% if not user.is_staff %}
                <a href="{% url 'add_to_cart' item.id %}" class="button Kbutton">
                    Bæta í körfu
                </a>
            {% else %}
                <a href="{% url 'edit' item.id %}" class="button Kbutton change-item-button">
                    Breyta vöru
                </a>
            {% endif %}

            </div>
        </div>
    {% endblock %}