body{

}
.container-fluid{
    background-color: rgb(204, 68, 75);
    font-size: 20px;

    padding: 0;
}

.navbar-brand{
    background-image: url("../images/logo.png");
}
.nav.navbar-nav li:hover{
    background-color:firebrick;
}
.nav.navbar-nav li a:hover{
    color:rgb(232, 233, 243);
}
.nav.navbar-nav li a {
    color: black;

}
img{

    height: 60px;
    width: 80px;
}

