<footer>
    <div class="left-footer">
        <p class="left-footer-header">Opnunartími verslunar</p>
        <i class="far fa-clock"></i>
        <div class="opening-hours">
            <p>Mán-Fös: 10:00 - 18:00</p>
            <p>Lau: 12:00 - 17:00</p>
            <p>Sun: 13:00 - 16:00</p>
        </div>
    </div>

    <div class="center-footer">
        <p class="center-footer-header">Heyrðu í okkur!</p>

        <div class="center-footer-icons">
            <i class="far fa-envelope"></i>
            <i class="fas fa-mobile-alt"></i>
            <i class="fas fa-store-alt"></i>
        </div>

        <div class="center-footer-contact-info">
            <p>verslun@captain.is</p>
            <p>581-2345</p>
            <p>Gamergata 14, Kópavogur</p>
        </div>
    </div>

    <div class="right-footer">
        <p class="right-footer-header">Finndu okkur á samfélagsmiðlum!</p>
        <div class="right-footer-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>

        <div class="right-footer-media-info">
            <p>www.facebook.com/CaptainConsole</p>
            <p>www.instagram.com/CaptainConsole</p>
            <p>Gamergata 14, Kópavogur</p>
        </div>

    </div>
</footer>