{% load  custom_tags %}
<footer>
    <div class="left-footer">
        <p class="left-footer-header">Opnunartími verslunar</p>
        <i class="far fa-clock"></i>
        <div class="opening-hours">
            <p>Mán-Fös: {% footer_hours_weekdays %}</p>
            <p>Lau: {% footer_hours_saturday %}</p>
            <p>Sun: {% footer_hours_sunday %}</p>
        </div>
    </div>

    <div class="center-footer">
        <p class="center-footer-header">Heyrðu í okkur!</p>

        <div class="center-footer-icons">
            <i class="far fa-envelope"></i>
            <i class="fas fa-mobile-alt"></i>
            <i class="fas fa-store-alt"></i>
        </div>

        <div class="center-footer-contact-info">
            <p>{% footer_email %}</p>
            <p>{% footer_telephone %}</p>
            <p>{% footer_address %}</p>
        </div>
    </div>

    <div class="right-footer">
        <p class="right-footer-header">Finndu okkur á samfélagsmiðlum!</p>
        <div class="right-footer-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>

        <div class="right-footer-media-info">
            <p>{% footer_social_facebook %}</p>
            <p>{% footer_social_instagram %}</p>
            <p>{% footer_social_twitter %}</p>
        </div>

    </div>
</footer>
