$litur1: red;
$litur2: blue;
$litur3: green;

body {
    padding: 0;
    margin: 0;
}



/*.navbar-default {
    .navbar-nav {
        li {
            a {
                color: $litur1;

                &:hover {
                    color: $litur2;
                    background-color: $litur3;
                }
            }
        }
    }
}*/