{% extends 'base.html' %}
{% block content %}
    {% include 'management/navbar.html' %}
    <div class="col-md-10 content">
        <h1>Starfsfólk <a href="/management/employees/register/"><i class="fas fa-plus"></i></a></h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Notandi</th>
              <th scope="col">Nafn</th>
              <th scope="col">Netfang</th>
              <th scope="col">Virkur</th>
              <th scope="col">Síðasta Innskráning</th>
              <th scope="col"><i class="fas fa-lock"></i></th>
              <th scope="col"><i class="fas fa-trash"></i></th>
            </tr>
          </thead>
          <tbody>
            {% for s in staff %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a href="{{s.username}}/">{{ s.username }}</a></td>
              <td><a href="{{s.username}}/">{{ s.first_name }} {{ s.first_name }}</a></td>
              <td>{{ s.email }}</td>
              <td>{{ s.is_active }}</td>
              <td>{{ s.last_login }}</td><td>
                <a href="{{ s.username }}/lock/?next=/management/employees/">
                    <i class="fas {% if s.is_active %}fa-lock-open{% else %}fa-lock{% endif %}"></i>
                </a>
              </td>
              <td><a href="{{ s.username }}/delete/?next=/management/employees/"><i class="fas fa-trash"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}