{% extends 'base.html' %}
{% block content %}
    {% include 'management/navbar.html' %}
    <div class="staff-register-site">
        <h2 class="register-title">Skrá staff</h2>
        <p>* Stjörnumerkta reiti er nauðsynlegt að fylla</p>
        <form method="post">
            {% csrf_token %}
            <div class="a">
                {{ form.username.errors }}
                Notandanafn: {{ form.username }}
            </div>
            <div class="a">
                {{ form.first_name.errors }}
                Fornafn:* {{ form.first_name }}
            </div>
            <div class="a">
                {{ form.last_name.errors }}
                Eftirnafn:* {{ form.last_name }}
            </div>
            <div class="a">
                {{ form.email.errors }}
                Netfang:* {{ form.email }}
            </div>
{#            <div class="form-control">#}
{#                {{ form.address.errors }}#}
{#                Heimilisfang:* {{ form.address }}#}
{#            </div>#}
{#            <div class="form-control">#}
{#                {{ form.phone.errors }}#}
{#                Sími:* {{ form.phone }}#}
{#            </div>#}
            <div class="a">
                {{ form.password1.errors }}
                Lykilorð:* {{ form.password1 }}
            </div>
            <div class="a">
                {{ form.password2.errors }}
                Staðfesta Lykilorð:* {{ form.password2 }}
            </div>
            <input class="reg" type="submit" value="Nýskrá">
        </form>
    </div>
{% endblock %}
