{% extends 'base.html' %}
{% block content %}
    <div class="edit-site">
        <h2 class="edit-title">Uppfæra prófíl</h2>
        <p>*Stjörnumerkta reiti verður að fylla í</p>
        <form method="post">
            {% csrf_token %}
            <div class="profile-form">
                Fornafn: *{{ form_user.first_name }}
            </div>
            <div class="profile-form">
                Eftirnafn: *{{ form_user.last_name }}
            </div>
            <div class="profile-form">
                Netfang: *{{ form_user.email }}
            </div>
            <div class="profile-form">
                Sími: {{ form_extended.phone }}
            </div>
            <div class="profile-form">
                Mynd: {{ form_extended.img }}
            </div>
            <input class="edit" type="submit" value="Staðfesta"/>
        </form>
    </div>
{% endblock %}