{% extends 'base.html' %}
{% block content %}
    <h2 class="profile-header">Þinn Prófíll:</h2>
    <div class="profile">

        {% if user.profile.img  %}
            <img src="{{ user.profile.img }}" alt="Prófílmynd"/>
        {% else %}
            <img src="../../static/images/noprofile_resize.jpg" alt="No profile pic">
            <p class="mynd-vantar-text">Mynd vantar!</p>
        {% endif %}
    <div/>
    <div class="profile-info">
        <p>* Nafn: {{ user.first_name }} {{ user.last_name }}</p>
        <p>* Netfang: {{ user.email }}</p>
        <p>* Heimilisfang: {{ user.profile.address }}</p>
        <p>* Sími: {{ user.profile.phone }}</p>
        <p>* Notandanafn: {{ user.username }}</p>
    </div>
    <div class="profile-update">
        <a href="/users/profile/edit">
            <input class="update" type="submit" value="Uppfæra prófíl">
        </a>
    </div>
    </div>
{% endblock %}