{%  extends 'base.html' %}
{% block content %}
    <div class="delete-history">
        <div class="delete-history-inner">
        <a href="/users/profile/search/delete/">
            <button id="delete-history-btn" class="Cbuybutton" >Eyða leitarsögu</button>
        </a>
        </div>
    </div>
    <div class="search-history">
        <h2>Leitarsaga:</h2>
        {% for search in all_searches %}
            <div class="history-search">
                <a href="/items/search/?q={{ search.search }}">
                    Dags: {{ search.date }}
                    Leit: {{ search.search }}
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="ord-img">
        <img class="logo" src="/static/images/logo.png" alt="logo">
    </div>

{% endblock %}