{% extends 'base.html' %}
{% block content %}
    {% include 'management/navbar.html' %}
    <form class="new-item-form" method="post">
        {% csrf_token %}
        <div class="new-item-name">
            Nafn: {{ form.name }}
        </div>
        <div class="new-item-desc">
            Lýsing: {{ form.description }}
        </div>
        <div class="new-item-price">
            Verð: {{ form.price }}
        </div>
        <div class="new-item-manuf">
            Framleiðandi: {{ form.manufacturer_id }}
        </div>
        <div class="new-item-cat">
            Flokkur: {{ form.category_id }}
        </div>
        <div class="new-item-confirm">
            <input type="submit" value="Staðfesta">
        </div>
    </form>
{% endblock %}