/*---------------------------------------------------------------------------*/
/*UM OKKUR SÍÐAN*/
#info{
  border: 1px #CE0000 solid;
  border-radius: 10px;
  //width: 48%;
  text-align: center;
  //justify-content: center;
  //position: relative;
  //top: 50px;
  //left: 250px;
  padding: 10px 20px 20px 20px;
}

#location {
  //width: 48%;
}

.location-header{
  font-size: 18px;
  margin-top: 70px;
  text-align: center;
}

.locat ion-text{
  text-align: center;
}
