.cart-item{
  //background: #1A01CC;
  //margin: 10px;
  display: inline-block;
  width: 85%;
  padding: 5px 10px;
  border-bottom: 2px black solid;
  background: #dedde8;
  //border-radius: 10px;
}
.cart-img{
  display: inline-block;
  background: white;
  margin: 0 20px;
  border: 2px black solid;
  border-radius: 5px;

}
.cart-img img{
  height: 100px;
  width: 100px;
}


.cart-name {
  display: inline-block;
  //background: pink;
  margin-left: 20px;
  font-size: 20px;
}
.cart-price{
  font-size: 22px;
  display: inline-block;
  //background: greenyellow;
  position: relative;
  float: right;
  margin-top: 30px;
}
.cart-q{
  display: inline-block;
  font-size: 20px;
  //background: lightblue;
  margin-left: 150px;

}
.cart-remove{
  display: inline-block;
  background: red;
  padding: 5px;
  border: 2px black solid;
  border-radius: 5px;
  margin: 10px 10px 10px 40px;
  width: auto;

}
.discount{
  font-size: 20px;
  text-align: right;
}

.buybtn{
  text-align: right;
  margin: 10px;
}

.buybutton{
  width: 200px;
  margin: 15px 10px 0 10px;
  border-radius: 10px;
  border:grey 2px solid;
  background: red;
  color: ghostwhite;

}

.buybutton:hover{
  transition: 0.3s all ease;
  color: red;
  border-color: gray;
}