.checkout-site{
  width: 85%;
  height: 450px;
  margin: auto;
  //background: aqua;
  padding: 10px;
}

.checkout-info{
  width: 50%;
  height: 300px;
  //background: #EDF2F4;
  float: left;
}

.checkout-payment{
  //border: 2px black solid;
  //background: #EDF25F;
  margin-left: 50%;
  border-left: 2px lightgrey solid;
  padding: 20px;
  height: 310px;


}
//
//.card-form{
//  margin: 20px;
//  display: flex;
//  justify-content: flex-end;
//  //background: #CE0000;
//}

.card-form{
  //width: 400px;
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0;
  //font-size: 20px;

}


.card-form input{
  //background: ghostwhite;
  border-radius: 4px;
  //margin: 0;
  margin-left: 5px;
  border: 2px gray solid;
  //font-size: 16px;
}