
.checkout-site{
  margin: 20px 20px 0 20px;
}

.checkout-info{
  height: 300px;
  margin: 0;
}

.saved-addr{
  padding: 10px;
  width: 45%;

}

.new-addr{
  padding: 10px;
  width: 55%;
  float: right;

  h4{
    padding-left: 35%;
  }
}

.address-form{
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0;

}
.address-form input{
  border-radius: 4px;
  width: 180px;
  margin-left: 5px;
  border: 2px gray solid;

}
.address-form select{
  border-radius: 4px;
  width: 180px;
  margin-left: 5px;
  border: 2px gray solid;
  font-size: 16px;
}


.address-choice{
  display: flex;
}
.checkout-info p{
  font-size: 20px;
}

.cube{
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
}

//---------------------------------------------------------------------------
.checkout-payment {
  width: 40%;
  border-left: 2px lightgrey solid;
  padding-left: 10px;
}
.card-group{
  margin-top: 70px;
}

.checkout-payment p{
 font-size: 20px;
}



.card-form{
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0;

}

.card-form input{
  border-radius: 4px;
  margin-left: 5px;
  border: 2px gray solid;

}
.Cbuybtn{
  position: absolute;
  top: 80%;
  left: 70%;
}


.Cbuybutton{
  width: 200px;
  margin: 15px 10px 0 10px;
  border-radius: 10px;
  border:grey 2px solid;
  background: $color0;
  color: ghostwhite;

}

.Cbuybutton:hover{
  transition: 0.3s all ease;
  color: #D0D3D4;
  border-color: gray;
}

#ex-date input{
  width: 80px;
}

.card-heading{
  margin-left: 200px;
}