// TODO: Láta litinn breytast á starfsmannasíðunni?

/*-------------------------------------------------------------------------*/
/*Footer*/
footer{
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  color: $color4;
  background-color: $color0;
  display: flex;
  flex-direction: row;
}

.footer-link{
  font-size: 14px;
}

/*-------------------------------------------------------------------------*/
/*Left Footer*/
.left-footer{
  width: 33%;
}

.opening-hours{
  p{
    margin-bottom: 16px;
  }
}

.left-footer-header{
  font-size: 20px;
  margin: 15px 0 20px 30px;
}

.left-footer i{
  float: left;
  font-size: 80px;
  margin: 4px 20px 0 20px;
}

/*-------------------------------------------------------------------------*/
/*Center Footer*/
.center-footer{
  float: left;
  width: 34%;
}

.center-footer-header{
  font-size: 20px;
  margin: 15px 0 14px 30px;
}

.center-footer-icons{
  font-size: 25px;
  float: left;
  width: 50px;
  text-align: center;
  margin-left: 5px;
}

.center-footer-contact-info{
  float: left;
}

.center-footer-contact-info p{
  margin: 5px 0 16px 0;
}

/*-------------------------------------------------------------------------*/
/*Right Footer*/
.right-footer{
  float: left;
  width: 33%;
}

.right-footer-header{
  font-size: 20px;
  margin: 15px 0 14px 30px;
}

.right-footer-icons{
  font-size: 25px;
  float: left;
  width: 40px;
  text-align: center;
  margin-left: 5px;
}

.right-footer-media-info{
  margin-top: 20px;
}

.right-footer-media-info p{
  margin: 0 0 16px 0;
}
