/*--------------------------------------------------------------------------*/
/*FrontPage*/
.content{
  flex-shrink: 0;
}

.frontcontent{
  float: right;
  width: 95%;
}

.frontcontent img{
  height: 100%;
  width: 100%;
}

.frontFL{
  display: inline-block;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: 30px;
  background-color: gray;
  border: black 1px solid;
  border-radius: 10px;
}

.frontFL:hover{
  transition: 0.3s all ease;
  background: red;
}

.frontFL:hover p{
  transition: 0.3s all ease;
  color: ghostwhite;

}

.frontFL a{
  text-align: center;
  text-decoration: none;
}
.frontFL p{
  padding-top: 10px;
}

.frontFL img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px;
  width: 298px;
}