/*--------------------------------------------------------------------------*/
/*FrontPage*/
/*.content{
  flex-shrink: 0;
}*/

.frontcontent{
  width: 100%;

  img{
    height: 100%;
    width: 100%;
  }
}

.frontFL{
  display: table-cell;
  height: 300px;
  width: 300px;
  background-color: gray;
  border: black 1px solid;
  border-radius: 10px;

  &:hover{
    transition: 0.3s all ease;
    background: red;
  }
}

.frontFL a{
  text-align: center;
  text-decoration: none;
}

.frontFL p{
  padding-top: 10px;
  &:hover{
    transition: 0.3s all ease;
    color: ghostwhite;
  }
}

.frontFL img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px;
  width: 298px;
}