/*--------------------------------------------------------------------------------*/
/*single VARA*/
.singleitem{
  //background: ghostwhite;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 60px;
}

.item-img{
  height: 300px;
  margin-top: 10px;
  width: 250px;
}
.single-img-name{
  margin-left: 150px;
  padding-left: 0;
}

.singlename{
  font-size: 24px;
  margin: 0;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.singledescription{
  height: 330px;
  width: 100%;
  //border: black 2px solid;
  border-radius: 10px;
  padding: 10px;
}

.singleinfo{
  border: black 2px solid;
  border-radius: 10px;
  height: 280px;
  width: 280px;
  padding: 20px 15px 15px 15px;
  margin-right: 150px;
  text-align: center;
  margin-bottom: 15px;
}

.singledescription p{
  font-size: 16px;
}

.singleinfo p{
  font-size: 20px;
}

#price{
  font-size: 30px;
  padding: 0;
}

.Kbutton{
  width: 200px;
  padding: 5px;
  right: 0;
  //margin-left: auto;
  //margin-right: auto;
  border: 2px black solid;
  border-radius: 10px;
  background: $color0;
  color: $color4;
  //margin-top: 30px;
}

.Kbutton:hover{
  transition: 0.3s all ease;
  color: #D0D3D4;
  text-decoration: none;
}
.edit_site{
  width: 66%;
}



/*--------------------------------------------------------------------------------*/
/*EDIT single VARA*/

.edit-singleinfo{
  width: 400px;
  //height: 100px;
  margin-bottom: 0;
}

.change-info-button input{
  background: $color0;
  border-radius: 10px;
  color: ghostwhite;
  font-size: 20px;
  margin: 10px 0;
  width: 230px;
  position: absolute;
  right: 150px;
  top: 300px;
}
.edit-description-textarea{
  display: block;
  border-radius: 10px;
}

.edit-singledescription{
  width: 60%;
  padding-top: 0;
}
.edit-single-img-name img{
  margin-top: 0;
}
.edit-description-heading{
  font-size: 30px;
  //margin: 15px 0 15px 0;
}
.edit-price-heading{
  width: 60px;
  //display: block;
  //margin-right: 0;
  position: relative;
  float: left;
}
.edit-price-input input{
  width: 100px;
  position: relative;
  float: left;
}
.edit-price-line{
  margin-left: 25px;
}
.edit-manuf-class{
  margin-top: 40px;
}