/*--------------------------------------------------------------------------------*/
/*single VARA*/
.singleitem{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 60px;
}

.item-img{
  height: 300px;
  margin-top: 10px;
  width: 250px;
}
.single-img-name{
  margin-left: 150px;
  padding-left: 0;
}

.singlename{
  font-size: 24px;
  margin: 0;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.singledescription{
  height: 330px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.singleinfo{
  border: black 2px solid;
  border-radius: 10px;
  height: 280px;
  width: 280px;
  padding: 20px 15px 15px 15px;
  margin-right: 150px;
  text-align: center;
  margin-bottom: 15px;
}

.singledescription p{
  font-size: 16px;
}

.singleinfo p{
  font-size: 20px;
}

#price{
  font-size: 30px;
  padding: 0;
}

.Kbutton{
  width: 200px;
  padding: 5px;
  right: 0;
  border: 2px black solid;
  border-radius: 10px;
  background: $color0;
  color: $color4;
}

.Kbutton:hover{
  transition: 0.3s all ease;
  color: #D0D3D4;
  text-decoration: none;
}
.edit_site{
  width: 66%;
}



/*--------------------------------------------------------------------------------*/
/*EDIT single VARA*/

.change-info-button input{
  background: $color0;
  border-radius: 10px;
  color: ghostwhite;
  font-size: 20px;
  margin: 30px 0;
  width: 230px;
  position: absolute;
  right: 70px;
  top: 300px;
}
.edit-singleitem{
  display: flex;
  justify-content: space-between;
}
.edit-singleinfo{
  border: black 2px solid;
  border-radius: 10px;
  height: 296px;
  width: 280px;
  text-align: center;
  margin: 28px 70px 0 25px;
  padding: 15px 10px;
  p {
    font-size: 20px;
  }

}
.edit-singleitem form{
  display: flex;
  justify-content: space-between;
}
.edit-price-input input{
  width: 100px;
}
.edit-price-heading{
  padding: 0 8px 0 0;
}
.edit-price-line{
  display: flex;
  justify-content: center;
}



.edit-single-img-name img{
  margin: 28px 0 0 70px;
}
.edit-singledescription{
  display: inline-block;
  float: left;
  label{
    font-size: 20px;
  }
}

.edit-info-button{
  margin-top: 105px;
}
.edit-single-img-name h2{
  margin-left: 80px;
}