/*-------------------------------------------------------------------------------------*/
/*INNSKRÁ SÍÐAN*/

.loginsite{
  background: #e8e1d6;
  margin-top: 0;
  height: 75vh;

  h2 {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }

  form {
    margin-left: auto;
    margin-right: auto;
    width: 30%;

    input{
      width: 100%;

    }
  }
}

.login-form ul li {
  font-size: 14px;
  color: red;
  padding: 0;


}
.login-group label{
  font-size: 16px;
  padding-right: 10px;
}

.loginting{
  left: 10%;
  top: 100%;
  padding-bottom: 30px;
}

.loginting input{
  background: #CE0000;
  border-radius: 10px;
  color: ghostwhite;
  font-size: 20px;
  margin: 10px 0;
  width: 100px;
}

.loginting input:hover{
  color: #D0D3D4;
  margin: 10px 0;
  transition: 0.3s all ease;
}
.logged-out-thanks{
  text-align: center;
}


//----------------------------------------------------------------------------
//NYSKRA

.register-title{
  width: 100%;
  text-align: center;
  margin-top: 0;
  padding-top: 30px;


}


.register-site{
  height: 75vh;
  background: #e8e1d6;
}
.register-site p {
  font-size: 20px;
  text-align: center;
}

.form-control{
  width: 400px;
  margin: 20px 0 0 40px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0;
  border: none;
  box-shadow: none;
  font-size: 20px;
  background: #e8e1d6;

}

.form-control input{
  position: absolute;
  background: ghostwhite;
  left: 40%;
  height: 25px;
  width: 200px;
  border-radius: 4px;
  margin: 0;
  border: 2px gray solid;
  font-size: 16px;
  padding-left: 5px;
}

.reg{
  position: relative;
  left: 40%;
  background: #CE0000;
  border-radius: 10px;
  color: ghostwhite;
  font-size: 20px;
  margin: 10px 0;
  width: 150px;
}

.reg:hover{
  color: #D0D3D4;
  margin: 10px 0;
  transition: 0.3s all ease;
}

//--------------------------------------
//LOGOUT

.logout-button{
  width: 50%;
  margin-left: 40%;;
}

.col-md-12.loginsite{
  text-align: center;
  padding: 100px;

  p{
    font-size: 20px;

  }

}

.pass-sent{
  border-bottom: 2px black solid;
  text-align: center;

}

//-----------------------------------------
//RECOVER

