/*-------------------------------------------------------------------------------------*/
/*INNSKRÁ SÍÐAN*/

.loginsite{
  background: #e8e1d6;

  form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;

    h2 {
      margin-left: auto;
      margin-right: auto;
      width: 100px;
    }

    input{
      width: 100%;
    }
  }
}

.login-group label{
  padding-right: 10px;
  font-size: 16px;
}

.loginting{
  left: 10%;
  top: 100%;
}

.loginting input{
  width: 100px;
  background: #CE0000;
  font-size: 20px;
  border-radius: 10px;
  margin: 10px 0;
  color: ghostwhite;
}

.loginting input:hover{
  transition: 0.3s all ease;
  color: gray;
  margin: 10px 0;
  border-radius: 0;
}