
.profile-header{
  //text-align: center;
  margin-left: 30px;
}
.profile{
  //background: #1b6d85;
  width: 100%;
  //display: inline-block;
  margin: 0;
  padding: 0;
}
.picture-missing-text{
  margin-left: 187px;
}
.picture-missing{
  margin-left: 50px;
}
.profile img{
  height: 300px;
  width: 300px;
  border: 2px black solid;
  border-radius: 10px;
  margin: 10px 30px;
  //display: inline-block;
}
.profile-info{
  //display: inline-block;
  //border: 2px black solid;
  //border-radius: 10px;
  width: 400px;
  height: 300px;
  font-size: 20px;
  //background: #dedde8;
  padding: 15px;
  margin: 10px 30px;
  position: absolute;
  top: 10%;
  left: 370px;

}
.profile-info p{
  font-size: 20px;

}

.profile-address{
  //background: #debba8;
  position: absolute;
  height: 180px;
  width: 350px;
  top: 12%;
  left: 835px;

}

.profile-address p{
  font-size: 20px;
  margin-left: 20px;

}

//
.profile-update-address{
    //color: ghostwhite;
  //margin: 10px 40px 40px 40px;
  //position: absolute;
  margin-right: 75px;
  margin-bottom: 50px;
  display: inline-block;
  float: right;
}

.profile-update {
  //color: ghostwhite;
  //margin: 10px 40px 40px 40px;
  //position: absolute;
  margin-bottom: 50px;
  margin-right: 150px;
  float: right;
  display: inline-block;

}

.update{
  border: 2px black solid;
  border-radius: 10px;
  background: $color0;
  color: $color4;
  width: 280px;
}
.update:hover{
  transition: 0.3s all ease;
  color: #D0D3D4;


}
.profile-update a{
  color: black;
}

