.edit-title{
  width: 100%;
  text-align: center;
}

.edit-site{
  height: 500px;
}

.edit-site p{
  font-size: 20px;
  text-align: center;
}
.profile-form{
  width: 400px;
  margin: 20px 0 0 40px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0;
  border: none;
  box-shadow: none;
  font-size: 20px;
}

.profile-form input{
  position: absolute;
  background: ghostwhite;
  left: 40%;
  height: 25px;
  width: 200px;
  border-radius: 4px;
  margin: 0;
  border: 2px gray solid;
  font-size: 16px;
}

.edit{
  position: relative;
  left: 40%;
  background: #CE0000;
  border-radius: 10px;
  color: ghostwhite;
  font-size: 20px;
  margin: 10px 0;
  width: 150px;
}

.edit:hover{
  color: #D0D3D4;
  margin: 10px 0;
  transition: 0.3s all ease;
}

//-----------------------------------------------

#countryselect select{
  position: absolute;
  background: ghostwhite;
  left: 40%;
  height: 25px;
  width: 200px;
  border-radius: 4px;
  margin: 0;
  border: 2px gray solid;
  font-size: 16px;

}