@charset "UTF-8";
/*                                                                              */
/*     ,::::\           :|       ++       ,::::\                    :|          */
/*    ::|    .::\ :::\ :::| .::\ :| :::\ ::|    ,::\ :::\ <::< ,::\ :| :~~/     */
/*     '::::/`::| :::/  :|  `::| :| :|:|  '::::/`::/ :|:| >::> `::/ :| :::,     */
/*                :|                                                            */
/*                                                                              */
button {
  cursor: pointer;
  transition: all 0.3s ease 0s; }

.logo img {
  height: 80px;
  width: 97px; }

body {
  margin: 0;
  padding: 0; }

* {
  margin: 0; }

li, a, button {
  color: #edf2f4;
  font-size: 25px;
  text-decoration: none; }

.container:first-of-type {
  background-color: #FFFFFF;
  color: #000000;
  width: 90%;
  min-height: 100vh;
  padding: 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative; }

body {
  background: #d3d3d3;
  color: #000000;
  font-family: 'Turret Road', cursive;
  height: 100%; }

.content {
  min-height: 75vh; }

/*-------------------------------------------------------------------------*/
/*Footer*/
footer {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  color: #FFFFFF;
  background-color: #CE0000;
  display: flex;
  flex-direction: row; }

/*-------------------------------------------------------------------------*/
/*Left Footer*/
.left-footer {
  width: 33%; }

.opening-hours p {
  margin-bottom: 16px; }

.left-footer-header {
  font-size: 20px;
  margin: 15px 0 20px 30px; }

.left-footer i {
  float: left;
  font-size: 80px;
  margin: 4px 20px 0 20px; }

/*-------------------------------------------------------------------------*/
/*Center Footer*/
.center-footer {
  float: left;
  width: 34%; }

.center-footer-header {
  font-size: 20px;
  margin: 15px 0 14px 30px; }

.center-footer-icons {
  font-size: 25px;
  float: left;
  width: 50px;
  text-align: center;
  margin-left: 5px; }

.center-footer-contact-info {
  float: left; }

.center-footer-contact-info p {
  margin: 5px 0 16px 0; }

/*-------------------------------------------------------------------------*/
/*Right Footer*/
.right-footer {
  float: left;
  width: 33%; }

.right-footer-header {
  font-size: 20px;
  margin: 15px 0 14px 30px; }

.right-footer-icons {
  font-size: 25px;
  float: left;
  width: 40px;
  text-align: center;
  margin-left: 5px; }

.right-footer-media-info {
  margin-top: 20px; }

.right-footer-media-info p {
  margin: 0 0 16px 0; }

.logo {
  cursor: pointer;
  float: left;
  line-height: 80px; }

nav {
  float: right;
  position: fixed;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  z-index: 100;
  /*line-height: 80px;*/ }

nav a {
  text-decoration: none; }

.navbuttons {
  list-style: none;
  text-decoration: none;
  display: flex;
  position: fixed;
  z-index: 1;
  border: none;
  background-color: #CE0000;
  color: #FFFFFF;
  height: 80px;
  border-radius: 0; }

.Rbuttons {
  top: 0;
  right: 0; }

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: ghostwhite;
  border-radius: 40px;
  padding: 2px; }

.search-btn {
  color: ghostwhite;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #CE0000;
  display: flex;
  justify-content: center;
  align-items: center; }

.search-btn:hover {
  color: #D0D3D4;
  transition: all 0.3s ease 0s;
  text-decoration: none; }

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 200px;
  padding-left: 10px; }

.Lbuttons {
  position: absolute;
  top: 0;
  left: 60px; }

.Lbuttons li {
  padding-left: 18px;
  padding-top: 24px; }

.Rbuttons li {
  padding-right: 18px; }

.Rbuttons i {
  padding: 3px; }

.cart-stack {
  position: absolute;
  padding-top: 24px;
  right: 150px; }

.login-stack {
  position: absolute;
  padding-top: 24px;
  right: 0; }

.profile-logout-stack {
  position: absolute;
  right: 0;
  top: 0;
  margin: 7px 0 0 0;
  width: 150px; }

.navbuttons li {
  display: inline-block; }

.navbuttons li a {
  transition: all 0.3s ease 0s;
  margin-right: 10px;
  text-decoration: none; }

ul li a {
  margin-right: 10px;
  text-decoration: none;
  color: #FFFFFF; }

.navbuttons li a:hover {
  color: #D0D3D4; }

button {
  /*padding: 9px 25px;*/
  /*background-color: red;*/
  /*border: none;*/
  /*border-radius: 50%;*/
  cursor: pointer;
  transition: all 0.3s ease 0s; }

header nav ul a {
  color: #EDF2F4; }

/*-------------------------------------------------------------------------------------*/
/*Staff navbar*/
.staff-nav-bar {
  background: #E6B74B; }

/*VÖRUR Á VÖRUSÍÐU*/
.col-md-12 {
  margin: 80px 0 0 0;
  padding: 0; }

.all-items {
  width: 80%;
  float: right;
  /*background-image: url("../images/logo.png");*/
  margin-top: 10px;
  padding-left: 80px;
  padding-bottom: 100px; }

.item {
  display: inline-block;
  justify-content: center;
  font-size: 20px;
  height: 180px;
  width: 150px;
  margin: 20px; }

.item-img {
  border-radius: 10px;
  border: black 2px solid;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  /*height: 120px;*/
  /*width: 195px;*/ }

.item-name {
  padding-top: 20px;
  margin: 0;
  font-size: 18px; }

.itm p {
  color: #0f0f0f; }

.item-price {
  /*position: relative;*/
  /*top: 0;*/
  /*float: bottom;*/
  font-size: 16px; }

.head-items {
  /*background: #9fcdff;*/
  width: 75%;
  float: right;
  /*background-image: url("../images/logo.png");*/
  padding: 10px; }

/*---------------------------------------------------------------------------*/
/*SIDEBAR Á VÖRUSÍÐU*/
.sidebar-items {
  position: fixed;
  display: inline-block;
  width: 19%;
  height: 100%;
  padding: 10px;
  margin-bottom: 200px;
  text-align: center;
  border-right: 2px #CE0000 solid; }

.sidebar-items p {
  font-size: 30px;
  margin: 15px 0 15px 0; }

.select select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
  box-shadow: none;
  border: none;
  background: ghostwhite;
  flex: 1;
  padding: 0 4px;
  color: black;
  cursor: pointer;
  font-size: 16px; }

.select select::-ms-expand {
  display: none; }

.select {
  position: relative;
  display: flex;
  height: 40px;
  line-height: 3;
  overflow: hidden;
  border-radius: 4px;
  /*border:black 4px solid;*/
  margin: 10px 0 0 0; }

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 16px;
  background: #CE0000;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease; }

.select:hover::after {
  color: red; }

.Sbutton {
  width: 100%;
  margin: 15px 0 0 0;
  border-radius: 10px;
  border: grey 2px solid;
  color: #0f0f0f; }

.Sbutton:hover {
  transition: 0.3s all ease;
  color: red;
  border-color: black; }

/*FrontPage*/
.frontcontent {
  text-align: center;
  margin: 30px 20px 30px 20px;
  /*background: lightgray;*/
  /*background-image: url("../images/logo.jpg");*/ }

.frontcontent img {
  width: 100%;
  height: 100%; }

.front-page-banner img {
  max-width: 90%;
  width: 140vh; }

.front-page-banner {
  text-align: center;
  margin-top: 50px; }

.frontFL {
  /*padding-left: 20px;*/
  display: inline-block;
  justify-content: center;
  /*font-size: 20px;*/
  height: 300px;
  width: 300px;
  /*padding-left: 20px;*/
  margin: 25px;
  background-color: gray;
  border: black 1px solid;
  border-radius: 10px; }

.frontFL:hover {
  transition: 0.3s all ease;
  background: #CE0000; }

.frontFL:hover p {
  transition: 0.3s all ease;
  color: ghostwhite; }

.frontFL a {
  text-decoration: none;
  text-align: center; }

.frontFL p {
  padding-top: 10px; }

/*.frontFL p:hover{*/
/*  color: ghostwhite;*/
/*}*/
.frontFL img {
  width: 298px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

/*---------------------------------------------------------------------------*/
/*UM OKKUR SÍÐAN*/
#info {
  border-radius: 10px;
  text-align: center;
  padding: 10px 20px 0 20px; }

.col-md-6 {
  margin: 20px 20px 20px 45px;
  width: 90%;
  padding: 0;
  text-align: center; }

.col-md-6.content {
  margin-top: 20px;
  padding: 0; }

.location-header {
  font-size: 24px;
  text-align: center; }

.location-text {
  font-size: 16px;
  text-align: center; }

/*--------------------------------------------------------------------------------*/
/*single VARA*/
.singleitem {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 60px; }

.item-img {
  height: 300px;
  margin-top: 10px;
  width: 250px; }

.single-img-name {
  margin-left: 150px;
  padding-left: 0; }

.singlename {
  font-size: 24px;
  margin: 0;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%; }

.singledescription {
  height: 330px;
  width: 100%;
  border-radius: 10px;
  padding: 10px; }

.singleinfo {
  border: black 2px solid;
  border-radius: 10px;
  height: 280px;
  width: 280px;
  padding: 20px 15px 15px 15px;
  margin-right: 150px;
  text-align: center;
  margin-bottom: 15px; }

.singledescription p {
  font-size: 16px; }

.singleinfo p {
  font-size: 20px; }

#price {
  font-size: 30px;
  padding: 0; }

.Kbutton {
  width: 200px;
  padding: 5px;
  right: 0;
  border: 2px black solid;
  border-radius: 10px;
  background: #CE0000;
  color: #FFFFFF; }

.Kbutton:hover {
  transition: 0.3s all ease;
  color: #D0D3D4;
  text-decoration: none; }

.edit_site {
  width: 66%; }

/*--------------------------------------------------------------------------------*/
/*EDIT single VARA*/
.edit-singleinfo {
  width: 400px;
  margin-bottom: 0; }

.change-info-button input {
  background: #CE0000;
  border-radius: 10px;
  color: ghostwhite;
  font-size: 20px;
  margin: 10px 0;
  width: 230px;
  position: absolute;
  right: 150px;
  top: 300px; }

.edit-description-textarea {
  display: block;
  border-radius: 10px; }

.edit-singledescription {
  width: 60%;
  padding-top: 0; }

.edit-single-img-name img {
  margin-top: 0; }

.edit-description-heading {
  font-size: 30px; }

.edit-price-heading {
  width: 60px;
  position: relative;
  float: left; }

.edit-price-input input {
  width: 100px;
  position: relative;
  float: left; }

.edit-price-line {
  margin-left: 25px; }

.edit-manuf-class {
  margin-top: 40px; }

/*-------------------------------------------------------------------------------------*/
/*INNSKRÁ SÍÐAN*/
.loginsite {
  background: #e8e1d6;
  margin-top: 0;
  height: 75vh; }
  .loginsite h2 {
    margin-left: auto;
    margin-right: auto;
    width: 100px; }
  .loginsite form {
    margin-left: auto;
    margin-right: auto;
    width: 30%; }
    .loginsite form input {
      width: 100%; }

.login-form ul li {
  font-size: 14px;
  color: red;
  padding: 0; }

.login-group label {
  font-size: 16px;
  padding-right: 10px; }

.loginting {
  left: 10%;
  top: 100%;
  padding-bottom: 30px; }

.loginting input {
  background: #CE0000;
  border-radius: 10px;
  color: ghostwhite;
  font-size: 20px;
  margin: 10px 0;
  width: 100px; }

.loginting input:hover {
  color: #D0D3D4;
  margin: 10px 0;
  transition: 0.3s all ease; }

.logged-out-thanks {
  text-align: center; }

.register-title {
  width: 100%;
  text-align: center;
  margin-top: 0;
  padding-top: 30px; }

.register-site {
  height: 75vh;
  background: #e8e1d6; }

.register-site p {
  font-size: 20px;
  text-align: center; }

.form-control {
  width: 400px;
  margin: 20px 0 0 40px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0;
  border: none;
  box-shadow: none;
  font-size: 20px;
  background: #e8e1d6; }

.form-control input {
  position: absolute;
  background: ghostwhite;
  left: 40%;
  height: 25px;
  width: 200px;
  border-radius: 4px;
  margin: 0;
  border: 2px gray solid;
  font-size: 16px;
  padding-left: 5px; }

.reg {
  position: relative;
  left: 40%;
  background: #CE0000;
  border-radius: 10px;
  color: ghostwhite;
  font-size: 20px;
  margin: 10px 0;
  width: 150px; }

.reg:hover {
  color: #D0D3D4;
  margin: 10px 0;
  transition: 0.3s all ease; }

.cart-item {
  display: inline-block;
  width: 85%;
  padding: 5px 10px;
  border-bottom: 2px black solid;
  background: #dedde8; }

.cart-img {
  display: inline-block;
  background: white;
  margin: 0 20px;
  border: 2px black solid;
  border-radius: 5px; }

.cart-img img {
  height: 100px;
  width: 100px; }

.cart-name {
  display: inline-block;
  margin-left: 20px;
  font-size: 26px; }

.cart-price {
  font-size: 22px;
  display: inline-block;
  position: relative;
  float: right;
  margin-top: 30px; }

.cart-q {
  display: inline-block;
  position: absolute;
  font-size: 20px;
  margin-left: 150px;
  right: 300px;
  margin-top: 35px; }

.cart-q a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
  border: 1px black solid;
  border-radius: 4px;
  background: #d3d3d3; }

.cart-q a:hover {
  color: #CE0000;
  transition: 0.3s all ease; }

.cart-remove {
  display: inline-block;
  background: #CE0000;
  padding: 5px;
  border: 2px black solid;
  border-radius: 5px;
  margin: 10px 10px 10px 40px;
  width: auto; }

.discount {
  font-size: 20px;
  text-align: right;
  padding-right: 75px;
  padding-top: 10px; }

.buybtn {
  text-align: right;
  margin: 10px; }

.buybutton {
  width: 200px;
  margin: 15px 10px 0 10px;
  border-radius: 10px;
  border: grey 2px solid;
  background: #CE0000;
  color: ghostwhite; }

.buybutton:hover {
  transition: 0.3s all ease;
  color: #D0D3D4;
  border-color: gray; }

.cart-total {
  text-align: right;
  font-size: 26px;
  text-decoration: underline;
  padding: 10px;
  padding-right: 30px; }

.profile-header {
  margin-left: 30px; }

.profile {
  width: 100%;
  margin: 0;
  padding: 0; }

.picture-missing-text {
  margin-left: 187px; }

.picture-missing {
  margin-left: 50px; }

.profile img {
  height: 300px;
  width: 300px;
  border: 2px black solid;
  border-radius: 10px;
  margin: 10px 30px; }

.profile-info {
  width: 400px;
  height: 300px;
  font-size: 20px;
  padding: 15px;
  margin: 10px 30px;
  position: absolute;
  top: 10%;
  left: 370px; }

.profile-info p {
  font-size: 20px; }

.profile-address {
  position: absolute;
  height: 180px;
  width: 350px;
  top: 12%;
  left: 835px; }

.profile-address p {
  font-size: 20px;
  margin-left: 20px; }

.profile-update-address {
  margin-right: 75px;
  margin-bottom: 50px;
  display: inline-block;
  float: right; }

.profile-update {
  margin-bottom: 50px;
  margin-right: 150px;
  float: right;
  display: inline-block; }

.update {
  border: 2px black solid;
  border-radius: 10px;
  background: #CE0000;
  color: #FFFFFF;
  width: 280px; }

.update:hover {
  transition: 0.3s all ease;
  color: #D0D3D4; }

.profile-update a {
  color: black; }

.search-history {
  margin: 20px; }
  .search-history h2 {
    margin: 20px; }

.history-search {
  text-align: center;
  display: flex;
  border-bottom: 2px grey solid;
  background: #dedde8; }

.history-search a {
  color: black;
  margin-left: 10px;
  text-decoration: none;
  padding: 10px;
  justify-content: space-between; }

.history-search a:hover {
  transition: 0.3s all ease;
  color: #CE0000; }

.edit-title {
  width: 100%;
  text-align: center; }

.edit-site {
  height: 500px; }

.edit-site p {
  font-size: 20px;
  text-align: center; }

.profile-form {
  width: 400px;
  margin: 20px 0 0 40px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0;
  border: none;
  box-shadow: none;
  font-size: 20px; }

.profile-form input {
  position: absolute;
  background: ghostwhite;
  left: 40%;
  height: 25px;
  width: 200px;
  border-radius: 4px;
  margin: 0;
  border: 2px gray solid;
  font-size: 16px; }

.edit {
  position: relative;
  left: 40%;
  background: #CE0000;
  border-radius: 10px;
  color: ghostwhite;
  font-size: 20px;
  margin: 10px 0;
  width: 150px; }

.edit:hover {
  color: #D0D3D4;
  margin: 10px 0;
  transition: 0.3s all ease; }

#countryselect select {
  position: absolute;
  background: ghostwhite;
  left: 40%;
  height: 25px;
  width: 200px;
  border-radius: 4px;
  margin: 0;
  border: 2px gray solid;
  font-size: 16px; }

.checkout-site {
  margin: 20px 20px 0 20px; }

.checkout-info {
  height: 300px;
  margin: 0; }

.saved-addr {
  padding: 10px;
  width: 45%; }

.new-addr {
  padding: 10px;
  width: 55%;
  float: right; }
  .new-addr h4 {
    padding-left: 35%; }

.address-form {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0; }

.address-form input {
  border-radius: 4px;
  width: 180px;
  margin-left: 5px;
  border: 2px gray solid; }

.address-form select {
  border-radius: 4px;
  width: 180px;
  margin-left: 5px;
  border: 2px gray solid;
  font-size: 16px; }

.address-choice {
  display: flex; }

.checkout-info p {
  font-size: 20px; }

.cube {
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px; }

.checkout-payment {
  width: 40%;
  border-left: 2px lightgrey solid;
  padding-left: 10px; }

.card-group {
  margin-top: 70px; }

.checkout-payment p {
  font-size: 20px; }

.card-form {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0; }

.card-form input {
  border-radius: 4px;
  margin-left: 5px;
  border: 2px gray solid; }

.Cbuybtn {
  position: absolute;
  top: 80%;
  left: 70%; }

.Cbuybutton {
  width: 200px;
  margin: 15px 10px 0 10px;
  border-radius: 10px;
  border: grey 2px solid;
  background: #CE0000;
  color: ghostwhite; }

.Cbuybutton:hover {
  transition: 0.3s all ease;
  color: #D0D3D4;
  border-color: gray; }

#ex-date input {
  width: 80px; }

.card-heading {
  margin-left: 200px; }

.staff-register-site {
  background: #9fcdff;
  float: right;
  padding: 10px;
  width: 80%; }

.col-md-2 {
  padding-top: 15px; }

.list-group {
  background: #6f42c1;
  position: relative;
  z-index: 0; }

.list-group-item.list-group-item-action.active {
  background: #E6B74B;
  border: none; }

.table a {
  color: black;
  text-decoration: none;
  font-size: 18px; }

.table a:hover {
  transition: 0.3s all ease;
  color: #CE0000; }

.table td {
  font-size: 18px;
  background: #EDF2F4; }

.table tbody tr {
  color: black;
  font-size: 16px; }

.fas.fa-plus {
  color: gray;
  border: 1px silver solid;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  background: ghostwhite; }

.fas.fa-plus:hover {
  transition: 0.3s all ease;
  background: #E6B74B;
  color: ghostwhite; }

.content .index-dashboard .card-body .card-text span {
  display: flex; }

.rev-heading {
  margin: 10px;
  font-size: 28px; }

.review-item {
  margin-left: 10px;
  display: inline-block;
  padding: 10px;
  border-bottom: 2px black solid;
  background: #dedde8;
  width: 200px; }

.review-item-img {
  display: inline-block;
  background: white;
  margin-left: 40px;
  border: 2px black solid;
  border-radius: 5px;
  text-align: center; }

.review-item-img img {
  height: 100px;
  width: 100px; }

.review-item-name {
  text-align: center;
  font-size: 16px; }

.review-item-price {
  text-align: center;
  font-size: 18px;
  text-decoration: underline; }

.review-item-q {
  text-align: center; }

.address-card {
  display: flex;
  justify-content: center; }

.review-address {
  border-top: 2px lightgrey solid;
  margin: 10px;
  width: 50%;
  font-size: 20px;
  text-align: center; }

.review-card {
  border-top: 2px lightgrey solid;
  margin: 10px;
  width: 50%;
  font-size: 20px;
  text-align: center; }

.review-total {
  text-align: center;
  font-size: 30px;
  border-top: 1px lightgrey solid;
  margin: 10px 80px;
  text-decoration: underline; }

.rev-btns {
  display: flex;
  justify-content: space-between;
  margin: 20px; }

.review-confirm-btn {
  width: auto;
  border-radius: 10px;
  border: grey 2px solid;
  background: #CE0000;
  color: ghostwhite; }

.confirm-site {
  text-align: center;
  margin: 80px; }

.confirm-site h1 {
  background: #81e871;
  border: 2px black solid;
  padding: 10px;
  border-radius: 10px; }

.confirm-site h3 {
  padding: 20px; }
