*{
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
  /*background-color: #9fcdff;*/
}

li, a, button{
  font-size: 25px;
  color: black;
  text-decoration: none;

}
.container{
  /*margin-top: 80px;*/
  margin: 80px 0 0 0;
  padding: 0;
  border-left: 50px #E0E0E0 solid;
  border-right: 50px #E0E0E0 solid;
  width: 100%;
  height: 100%;


}

body{
  font-family: 'Turret Road', cursive;
  /*background: #d3d3d3;*/
  /*text-align: center;*/
  height: 100%;
  border-left: 50px #E0E0E0 solid;
  border-right: 50px #E0E0E0 solid;
}

header {
  height: 80px;
  text-align: center;
  background: #CE0000;
  width: 100%;
  z-index: 12;
  position: fixed;
  padding: 0;
  border-left: 50px #E0E0E0 solid;
  border-right: 50px #E0E0E0 solid;
  color: #EDF2F4;


}
header nav ul a{
  color: #EDF2F4;
}
footer{
  position: fixed;
  height: 40px;
  width: 100%;
  bottom: 0;
  background-color: #CE0000;
  color: #EDF2F4;
  border-left: 50px #E0E0E0 solid;
  border-right: 50px #E0E0E0 solid;
}

.logo{
  cursor: pointer;
  /*width: 20%;*/
  float: left;
  line-height: 80px;
}
nav{
  float: right;
  /*line-height: 80px;*/
}
nav a {
  text-decoration: none;
}
.navbuttons{
  list-style: none;
  text-decoration: none;
  display: flex;
  width: 85%;

  /*border: black solid 5px;*/
}
.Rbuttons{
  position: absolute;
  top: 0;
  left: 60%;
}

.search{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: ghostwhite;
  border-radius: 40px;
  padding: 2px;
  /*display: flex;*/

}
.search:hover > .search-txt{
  /*width: 240px;*/
  /*padding: 0 6px;*/
}

.search-btn{
  color: black;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-btn:hover{
  color: ghostwhite;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 160px;
}
.Lbuttons{
  position: absolute;
  top: 0;
  left: 10%;
}

.navbuttons li {
  display: inline-block;
  padding-left: 30px;
  padding-top: 40px;
  /*padding: 0px 20px;*/
}
.navbuttons li a{
  transition: all 0.3s ease 0s;
  margin-right: 10px;
  text-decoration: none;
}
.navbuttons li a:hover{
  color: ghostwhite;
}

button {
  /*padding: 9px 25px;*/
  /*background-color: red;*/
  /*border: none;*/
  /*border-radius: 50%;*/
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

img{
  height: 80px;
  width: 97px;
}
/*----------------------------------------------------------------------------*/
/*VÖRUR Á VÖRUSÍÐU*/
.all-items{
  width: 80%;
  float: right;
  /*background-image: url("../images/logo.png");*/
  padding-left: 50px;

}

.item{
  display: inline-block;
  justify-content: center;
  font-size: 20px;
  height: 180px;
  width: 150px;
  /*padding: 40px;*/
  margin: 30px;
}
.item-img{
  border-radius: 10px;
  border: black 2px solid;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  /*height: 120px;*/
  /*width: 195px;*/
}
.item-name{
  padding-top: 20px;
  margin: 0;
  font-size: 18px;
}

.item-price{
  /*position: relative;*/
  /*top: 0;*/
  /*float: bottom;*/
  font-size: 16px;
}
.head-items{
  /*background: #9fcdff;*/
  width: 75%;
  float: right;
  /*background-image: url("../images/logo.png");*/
  padding: 10px 0 0 0;
  margin: 0;
}
/*---------------------------------------------------------------------------*/
/*SIDEBAR Á VÖRUSÍÐU*/
.sidebar-items{
  position: fixed;
  display: inline-block;
  width: 20%;
  height: 100%;
  padding: 10px;
  background: rgb(252, 138, 138);
}
.sidebar-items p{
  padding-left: 10px;
  font-size: 30px;

}

select{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
  box-shadow: none;
  border: none;
  background: ghostwhite;
  flex: 1;
  padding: 0 4px;
  color: black;
  cursor: pointer;
  font-size: 16px;
}
select::-ms-expand{
  display: none;
}

.select{
  position: relative;
  display: flex;
  width: 230px;
  height: 40px;
  line-height: 3;
  background: grey;
  overflow: hidden;
  border-radius: 4px;
  /*border:black 4px solid;*/

}

.select::after{
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 16px;
  background: gray;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after{
  color: red;
}


.Sbutton{
  width: 200px;
  padding: 5px;
  margin: 200px 10px 0 10px;
  border-radius: 10px;
  border:grey 2px solid;
}

.Sbutton:hover{
  transition: 0.3s all ease;
  color: red;
  border-color: black;
}
/*--------------------------------------------------------------------------*/
/*FrontPage*/
.frontcontent{
  width: 95%;
  float: right;
  /*background: lightgray;*/
  /*background-image: url("../images/logo.jpg");*/
}
.frontcontent img{
  width: 100%;
  height: 100%;
}

.frontFL{
  /*padding-left: 20px;*/
  display: inline-block;
  justify-content: center;
  /*font-size: 20px;*/
  height: 300px;
  width: 300px;
  /*padding-left: 20px;*/
  margin: 30px;
  background-color: gray;
  border: black 1px solid;
  border-radius: 10px;
}
.frontFL:hover{
  transition: 0.3s all ease;
  background: red;


}
.frontFL:hover p{
  transition: 0.3s all ease;
  color: ghostwhite;

}
.frontFL a{
  text-decoration: none;
  text-align: center;
}
.frontFL p{
  padding-top: 10px;
}
/*.frontFL p:hover{*/
/*  color: ghostwhite;*/
/*}*/


.frontFL img{
  width: 298px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



/*---------------------------------------------------------------------------*/
/*UM OKKUR SÍÐAN*/
#info{
  border: 2px black solid;
  align-items: center;
  width: 600px;
  text-align: center;
  margin: 2% 20%;


}