{% extends 'base.html' %}
{% block content %}
    {% include 'management/navbar.html' %}
    <div class="col-md-10 content">
        <div class="jumbotron">
            <span>{{ orders.unprocesessed }} óafgreiddar pantanir.</span>
            <span>{{ orders.ready }} tilbúnar pantanir.</span>
            <span>{{ orders.mailed }} pantanir póstlagðar.</span>
            <span>{{ customers.customers_registered }} viðskiptavinir.</span>
            <span>{{ customers.customers_online }} viðskiptavinir á síðunni.</span>
        </div>
    </div>
{% endblock %}