{% block content %}
<div class="col-md-2">
    <div class="list-group">
      <a href="/management/" class="list-group-item list-group-item-action active">Forsíða</a>
      <a href="/management/orders" class="list-group-item list-group-item-action">Orders</a>
      <a href="/management/groups" class="list-group-item list-group-item-action">Groups</a>
      <a href="/management/staff" class="list-group-item list-group-item-action">Staff</a>
      <a href="/management/customers" class="list-group-item list-group-item-action">Customers</a>
      <a href="/management/config" class="list-group-item list-group-item-action">Config</a>
    </div>
</div>
{% endblock %}