{% extends 'base.html' %}
{% block content %}
    <div class="checkout-site">
{#        <h2>Checkout:</h2>#}
        <div class="checkout-info">
        <div class="address-choice">
                <h4>Nota vistað heimilisfang: <input type="radio" name="address-radio" id="saved_address"></h4>
                <h4>Nýtt heimilisfang: <input type="radio" name="address-radio" id="new_address"></h4>
        </div>
        <div class="address-saved">
            {% with user.useraddress_set.all|first as address %}
            <div class="address-saved-item">
                {% if address.street_name != '' %}
                    <h5>Vistað heimilisfang:</h5>
                    <p>{{ address.street_name }} {{ address.house_num }}</p>
                    <p>{{ address.zipcode }} {{ address.city }}, {{ address.country.country_name }}</p>
                {% else %}
                    <h5>Ekkert vistað heimilisfang!</h5>
                {% endif %}
            </div>
            {% endwith %}
        </div>
    </div>
    <div class="checkout-payment">
        <form>
            <div class="card-form">
                <label>Nafn korthafa:</label>
                <input type="text" placeholder="Nafn">
            </div>
            <div class="card-form">
                <label>Kortanúmer:</label>
                <input type="text" placeholder="xxxx-xxxx-xxxx">
            </div>
            <div class="card-form">
                <label>Gildistími:</label>
                <input type="text" placeholder="MM/YY">
            </div>
            <div class="card-form">
                <label>CVC:</label>
                <input type="text" placeholder="xxx">
            </div>
        </form>
    <p>Coins</p>

    </div>
        <div class="buybtn">
            <a href="/cart/checkout">
            <button class="buybutton" type="submit">Greiða</button>
            </a>
        </div>
    </div>
{% endblock %}