{% extends 'base.html' %}
{% block content %}
    <h4 class="rev-heading">Þú ert að kaupa:</h4>
    {% for item in items %}
        <div class="review-item">
            <div class="review-item-img">
                <img src="{{ item.0.itemimg_set.first.img }}" alt="{{ item.0.name }}"/>
            </div>
            <div class="review-item-name">
                {{ item.0.name }}
            </div>
            <div class="review-item-price">
                {{ item.0.price }},-
            </div>
            <div class="review-item-q">
                <p>
                    Magn: {{ item.1 }}
                </p>
            </div>
        </div>
    {% endfor %}
    <div class="address-card">
        <div class="review-address">
            <h4>Heimilisfang:</h4>
            <div class="review-address-street">
                {{ address.street_name }} {{ address.house_num }}
            </div>
            <div class="review-address-city">
                {{ address.zipcode }}, {{ address.city }}
            </div>
            <div class="review-address-country">
                {{ address.country.country_name }}
            </div>
        </div>
        <div class="review-card">
            <h4>Kortaupplýsingar:</h4>
            <div class="review-card-name">
                {{ card_name }}
            </div>
            <div class="review-card-number">
                {{ card }}
            </div>
        </div>
    </div>
    <div class="review-total">
    Samtals: {{ total }}
    </div>
    <div class="rev-btns">
        <div class="review-cancel">
            <button class="review-confirm-btn" onclick="history.back()">Til Baka</button>
        </div>
        <div class="review-confirm">
            <a href="confirm">
            <button class="review-confirm-btn">Staðfesta Pöntun!</button>
            </a>
        </div>
    </div>
{% endblock %}